In [27]:
import numpy as np
import pandas as pd

In [28]:
df= pd.read_csv("C:\\Users\\SUVARCHALA\\OneDrive\\Documents\\spotify data.csv")

In [29]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [30]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [31]:
df.shape

(57650, 4)

In [32]:
df= pd.DataFrame(data=df,columns=df.columns)

In [33]:
df.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/a/abba/ahes+my+kind+of+girl_20598417.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [34]:
df["artist"] = df["artist"].str.lower()
df["song"]= df["song"].str.lower()
df["text"]= df["text"].str.lower()

In [35]:
df.head()

,artist,song,link,text
0,abba,ahe's my kind of girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"look at her face, it's a wonderful face \r\na..."
1,abba,"andante, andante",/a/abba/andante+andante_20002708.html,"take it easy with me, please \r\ntouch me gen..."
2,abba,as good as new,/a/abba/as+good+as+new_20003033.html,i'll never know why i had to go \r\nwhy i had...
3,abba,bang,/a/abba/bang_20598415.html,making somebody happy is a question of give an...
4,abba,bang-a-boomerang,/a/abba/bang+a+boomerang_20002668.html,making somebody happy is a question of give an...

In [36]:
df["text"][1]

"take it easy with me, please  \r\ntouch me gently like a summer evening breeze  \r\ntake your time, make it slow  \r\nandante, andante  \r\njust let the feeling grow  \r\n  \r\nmake your fingers soft and light  \r\nlet your body be the velvet of the night  \r\ntouch my soul, you know how  \r\nandante, andante  \r\ngo slowly with me now  \r\n  \r\ni'm your music  \r\n(i am your music and i am your song)  \r\ni'm your song  \r\n(i am your music and i am your song)  \r\nplay me time and time again and make me strong  \r\n(play me again 'cause you're making me strong)  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\n  \r\nthere's a shimmer in your eyes  \r\nlike the feeling of a thousand butterflies  \r\nplease don't talk, go on, play  \r\nandante, andante  \r\nand let me float away  \r\n  \r\ni'm your music  \r\n(i am your music and i am your song)  \r\ni'm your song  \r\n(i am your music and i am your song)  \r\nplay me time and time again and make me strong  \r\n(play me again 'cause you're making me strong)  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\n  \r\nmake me sing, make me sound  \r\n(you make me sing and you make me)  \r\nandante, andante  \r\ntread lightly on my ground  \r\nandante, andante  \r\noh please don't let me down  \r\nandante, andante  \r\noh please don't let me down\r\n\r\n"

In [37]:
df["text"]= df["text"].replace(r'\r\n',' ',regex=True) 
df["text"]=df["text"].replace(r',','',regex=True)

In [38]:
df["text"][1]

"take it easy with me please   touch me gently like a summer evening breeze   take your time make it slow   andante andante   just let the feeling grow      make your fingers soft and light   let your body be the velvet of the night   touch my soul you know how   andante andante   go slowly with me now      i'm your music   (i am your music and i am your song)   i'm your song   (i am your music and i am your song)   play me time and time again and make me strong   (play me again 'cause you're making me strong)   make me sing make me sound   (you make me sing and you make me)   andante andante   tread lightly on my ground   andante andante   oh please don't let me down      there's a shimmer in your eyes   like the feeling of a thousand butterflies   please don't talk go on play   andante andante   and let me float away      i'm your music   (i am your music and i am your song)   i'm your song   (i am your music and i am your song)   play me time and time again and make me strong   (play me again 'cause you're making me strong)   make me sing make me sound   (you make me sing and you make me)   andante andante   tread lightly on my ground   andante andante   oh please don't let me down      make me sing make me sound   (you make me sing and you make me)   andante andante   tread lightly on my ground   andante andante   oh please don't let me down   andante andante   oh please don't let me down  "

In [39]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
print(stop_words)

{'his', 'same', 'yourselves', 'be', 'does', "she's", 'both', 'll', 'am', 'hadn', "mustn't", 'theirs', 'couldn', 'don', "aren't", 'so', 'to', 'won', 'yourself', 'as', 'how', 'until', 'by', "shan't", 'those', 'into', 're', "that'll", 'only', 'up', "wasn't", 'mightn', 'at', 's', 'under', 'on', 'there', 'where', 'had', 'do', "wouldn't", 'has', 'and', 'myself', 'my', 'of', 'wouldn', 'all', 'because', 'just', 'from', 'are', 'ours', 't', 'they', 'needn', 'in', 'i', 'herself', 'very', 'few', 'most', 'them', "isn't", 'not', "weren't", 'shan', 'wasn', 'd', 'why', 'our', 'further', "it's", 'too', "doesn't", "shouldn't", 'yours', 'is', 'off', 'after', 'mustn', 'should', 'its', 'did', 'm', 'but', 'other', 'out', 'about', 'he', 'which', 'themselves', 'during', 'against', 'ma', 'below', 'these', 'down', 'such', 'some', "hasn't", "haven't", 'o', 'own', 'will', 'that', "should've", 'were', 'here', 'can', "you'll", 'who', 'didn', 'again', 'shouldn', 'you', 'her', 'when', "mightn't", 'she', 'being', "won't", 'haven', 'an', 'been', 'having', 'while', 'isn', 'any', 'nor', "couldn't", "you'd", 'this', 'or', 'through', 'then', 'above', 'whom', 'it', 'doesn', 'ain', "you're", "hadn't", 'him', 'y', 'for', 'we', 'if', 'me', 'than', 'now', 'the', "needn't", 'himself', 'each', 'hasn', 'doing', 'a', 'over', 'no', 've', 'was', 'before', 'once', 'your', 'more', 'ourselves', "don't", 'with', "you've", 'hers', 'between', "didn't", 'what', 'itself', 'have', 'aren', 'their', 'weren'}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SUVARCHALA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SUVARCHALA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [40]:
df = df.head(10000) # considering 10000 samples to analysis 
df.shape

(10000, 4)

In [41]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

def preprocess_text(text):
    # Tokenize and remove stop_words from the text
    tokens = nltk.word_tokenize(text)
    filtered_words = [word for word in tokens if word not in stop_words]
    # Lemmatize words (changing every word to its root once)
    lemmatized_words = [lemmatizer.lemmatize(word) for word in filtered_words]
    return " ".join(lemmatized_words)

# Apply preprocessing function to the "text" column of your DataFrame
df["text"] = df["text"].apply(preprocess_text)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SUVARCHALA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=1000)
X_tfidf = tfidf.fit_transform(df['text']).toarray()
print(X_tfidf)
print(X_tfidf.shape)
print(tfidf)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.15047102]]
(10000, 1000)
TfidfVectorizer(max_features=1000)

In [43]:
mood_categories = ['love', 'sad', 'romantic', 'pop'] 

def categorize_sentiment(sentiment_polarity):
    if sentiment_polarity >= 0.6:
        return 'love'
    elif 0.2 <= sentiment_polarity < 0.6:
        return 'romantic'
    elif -0.2 <= sentiment_polarity < 0.2:
        return 'neutral'
    elif -0.6 <= sentiment_polarity < -0.2:
        return 'sad'
    else:
        return 'pop'

In [44]:
from textblob import TextBlob
# define a function to analyze sentiment of each song
def analyze_sentiment(text):
    blob = TextBlob(text)
    sentiment_polarity = blob.sentiment.polarity
    return categorize_sentiment(sentiment_polarity)

# Apply sentiment analysis to the lyrics column and
#create a new column for sentiment categories(love or sad or pop)

df["sentiment_category"] = df["text"].apply(analyze_sentiment)

In [45]:
def percentage_sentiment(text):
    blob = TextBlob(text)
    sentiment_polarity = blob.sentiment.polarity
    return sentiment_polarity

df["%sentiment"] = df["text"].apply(percentage_sentiment)

df.rename(columns={'sentiment_category' : 'mood',"song" : "song_name"}, inplace=True)

In [46]:
def preprocess_df(df):
    # Shorten DataFrame based on %sentiment
    df = df.sort_values(by='%sentiment')
    df = df.head(3000)  # Assuming you want to work with the top 3000 sentiment rows
    return df

def adjust_sentiment_for_sad(df):
    # Multiply %sentiment by -1 for rows where sentiment_category is "sad"(more the -ve value ->good rating one )
    df.loc[df['mood'] == 'sad', '%sentiment'] *= -1
    return df

def recommend_songs(df, input_criteria):
    # Preprocess DataFrame
    df = preprocess_df(df)
    # Adjust sentiment for "sad" mood
    df = adjust_sentiment_for_sad(df)
    
    # Case 1: If song name is given
    if 'song_name' in input_criteria:
        song_name = input_criteria['song_name']
        target_sentiment = df[df['song_name'] == song_name]['%sentiment'].iloc[0]
        recommended_songs = df.iloc[(df['%sentiment'] - target_sentiment).abs().argsort()[:10]]['song_name'].tolist()
        return recommended_songs
    
    # Case 2: If only mood is given
    elif 'mood' in input_criteria:
        mood = input_criteria['mood']
        mood_df = df[df['mood'] == mood]
        recommended_songs = mood_df.sort_values(by='%sentiment', ascending=False).head(10)['song_name'].tolist()
        return recommended_songs
    
    # Case 3: If artist name is given
    elif 'artist' in input_criteria:
        artist_name = input_criteria['artist']
        artist_df = df[df['artist'] == artist_name]
        recommended_songs = artist_df.sort_values(by='%sentiment', ascending=False).head(10)['song_name'].tolist()
        return recommended_songs
    
    else:
        return []

In [47]:
# Example usage:
input_criteria = {
    # Choose one of the following options:
    # 'song_name': 'your_song_name_here',  # Case 1
    #'mood': 'your_mood_here',            # Case 2
    #'artist': 'your_artist_name_here'     # Case 3
    #"song_name" : "the name of the game"
    #"mood" : "sad"
    "artist" : "abba"
}

recommended_songs = recommend_songs(df, input_criteria)
print("Top 10 recommended songs:")
for idx, song in enumerate(recommended_songs, start=1):
    print(f"{idx}. {song}")

Top 10 recommended songs:
1. burning my bridges
2. hole in your soul
3. the winner takes it all
4. crazy world
5. watch out
6. like an angel passing through my room
7. ring ring
8. fernando (in spanish)
9. pick a bale of cotton
10. disillusion